.App {
    padding: 20px;
}

.todo-header {
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -5px;
}

.footer {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
    margin-top: 50px;
}

.footer-info>a {
    text-decoration: none;
    color: inherit;
}

.todo-form {
    position: relative;
}


.todo-input {
    width: 100%;
    min-width: 550px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 80px;
}

.todo-input::placeholder {
    color: rgba(128, 128, 128, 0.2);
    font-style: italic;
}

.todo-input:hover~.close-icon {
    color: rgb(100, 2, 2);
}

.set-all-completed {
    position: absolute;
    width: 40px;
    height: 2em;
    top: 20px;
    left: 20px;
    color: rgba(128, 128, 128, 0.2);
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: rgb(100, 2, 2, 0);
    margin-left: auto;
}

.check-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(5, 216, 5);
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.11);
}

.list-group-item {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: flex-start;
}

.list-group-item:hover .close-icon {
    color: rgb(100, 2, 2, 0.5);
}

.list-group {
    padding: 0;
}

.completed {
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.363);
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: grey;
}

.status-container button {
    border: 1px solid rgba(175, 47, 47, 0);
    color: grey;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}

.status-container button:hover {
    border: 1px solid rgba(175, 47, 47, 0.1);
}

.status-container button:focus {
    border: 1px solid rgba(175, 47, 47, 0.2);
}

.buttons-container>button {
    margin-left: 2px;
    margin-right: 2px;
}

.all-button:focus {
    border: 1px solid rgba(175, 47, 47, 0.2);
}

.input-and-list-container {
    background-color: white;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.548);
}

.completed-items-text {
    width: 120px;
}