.todo-header {
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -5px;
}

.footer {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
}

.footer-info>a {
    text-decoration: none;
    color: inherit;
}