.App {
    padding: 20px;
}

.todo-header {
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -5px;
}

.footer {
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
    margin-top: 50px;
}

.footer-info>a {
    text-decoration: none;
    color: inherit;
}

.input-field {
    min-width: 500px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

hr {
    border: 1px solid rgba(128, 128, 128, 0.3);
}